<apex:page sidebar="false" showHeader="false" standardController="Contact">

<!--<style>
        .FormDataA {
            color:#000000;
            font-family:Tahoma,Arial;
            font-size:11px;
            font-weight:normal;
            width:150px;
        }
        .FormDataASmall { width:100px; }
        .FormDataAMed { width:200px; }
        .FormDataABig { width:300px; }          
        .HeadSilver {
            font-family:arial;
            font-size:13px;
            color:#F0F0F0;
            background:transparent;
            font-weight:bold;
            padding:0 0 0 0;
            width : 100%;
        }
        .V1Table {
            width:585px;
        }
        .V1M {
            background: #f3f3f3;
            padding: 8px 8px 0 8px;
        }
        .pbSubheader {
            background-color: #585858;
            font-size:91%;
            font-weight:bold;
            margin-bottom:2px;
            margin-top:15px;
            overflow:hidden;
            padding:2px 2px 2px 5px;
        }
        /*contact */
        .contactTab .secondaryPalette, .individualPalette .contactBlock .secondaryPalette {
            background-color: #585858;
            border-color: BLACK;
        }
        .contactTab .tertiaryPalette, .individualPalette .contactBlock .tertiaryPalette {
            background-color: #585858;
            border-color: BLACK;
        }
</style>

<img src="{!$Resource.ClientIntakeFormLogo}" />
<br/> <br/>
<table >
    <tr>
        <td>         
            <table class="V1Table" align="left">
                <tr>
                <td> 
                    <table align="left">
                        <tr>
                            <td align="left" valign="middle" style="background-color:#585858" class="HeadSilver" ><b> 
                            Contact us for a Free Consultation</b> 
                            </td>
                        </tr>
                        <tr>
                            <td class="V1M" style="background-color:#f3f3f3">
                               <table cellspacing="0" cellpadding="0" border="0"> 
                                   <tr>
                                       <td align="left" colspan="3">
                                           <p><font size="2">
                                            MyAdvoLaw offers free initial consultations. You may contact us by phone, fax, email or by submitting a web inquiry below.</font></p>
                                       </td>
                                   </tr>
                                   <tr>
                                        <td height="80" width="28%">
                                           <div align="right">
                                           <p><font size="2"><font size="1"><strong>direct: </strong>888-898-2386<br/>
                                               <strong>toll free: </strong>888-898-2386<br/>
                                             <strong>  fax: </strong>888-898-2386<strong><br/>
                                           email: <br/></strong>info@advologix.com</font> </font></p>
                                           </div>
                                        </td>
                                        <td width="2%">
                                            <p align="left"><font size="2"><br/><br/></font></p>
                                        </td>
                                        <td width="70%"><font size="2">
                                            <strong>web inquiry</strong>: In order to submit a web inquiry we require the information marked below with an asterisk (*). Completing the web inquiry form below with as much information as possible will ensure we have your information accurately in our files.<br/>
                                            </font>
                                        </td>
                                   </tr>
                               </table>
                            </td>
                        </tr>
                     </table>
                   </td>    
                </tr>
            </table>        
        </td>
    </tr>
    <tr>
        <td>
            <table class="V1Table" align="left">
                <tr>
                    <td> 
                    <table>
                        <tr class="V1Table">
                            <td align="left" valign="middle" style="background-color:#585858" class="HeadSilver"  ><b>Your Information</b> </td>
                        </tr>
                        <tr>
                            <td class="V1M" style="background-color:#f3f3f3">
                                <apex:form > 
                                    <apex:pageBlock id="thePageBlock" mode="edit">
                                        <apex:pageMessages />
                                        <apex:pageBlockButtons location="bottom">
                                            <apex:commandButton value="   Submit   " action="{!save}" />
                                        </apex:pageBlockButtons>
                                        <apex:pageBlockSection id="secContactInformation" title="Contact Information" columns="2">
                                            <apex:inputfield required="true" id="glFirstName" value="{!Contact.FirstName}" styleClass="FormDataA" />
                                            <apex:inputfield required="true" id="glLastName" value="{!Contact.LastName}" styleClass="FormDataA"/>                                
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Home Phone" />
                                                <apex:inputText id="glHomePhone" value="{!Contact.HomePhone}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Office Phone" />
                                                <apex:inputText id="glOfficePhone" value="{!Contact.Phone}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Cell" />
                                                <apex:inputText id="glCell" value="{!Contact.MobilePhone}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Fax" />
                                                <apex:inputText id="glFax" value="{!Contact.Fax}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>                            
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Job Title" />
                                                <apex:inputText id="glJobTitle" value="{!JobTitle}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>                            
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Company Name" />
                                                <apex:inputText id="glCompany" value="{!CompanyName}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>                            
                                            <apex:inputfield required="true" id="glEmail" value="{!Contact.Email}" styleClass="FormDataA"/>
                                        </apex:pageBlockSection>    
                                        <apex:pageBlockSection id="secContactAddress" title="Address" columns="2">
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Address" />
                                                <apex:inputText id="glAddressLine1" value="{!AddressLine1}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="City" />
                                                <apex:inputText id="glMailingCity" value="{!Contact.MailingCity}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="" />
                                                <apex:inputText id="glAddressLine2" value="{!AddressLine2}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="State" />
                                                <apex:inputText id="glMailingState" value="{!Contact.MailingState}" size="30" styleClass="FormDataA"/>                  
                                            </apex:pageBlockSectionItem>
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Zip" />
                                                <apex:inputText id="glMailingPostalCode" value="{!Contact.MailingPostalCode}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>
                                            <apex:pageBlockSectionItem >
                                                <apex:outputLabel value="Country" />
                                                <apex:inputText id="glMailingCountry" value="{!Contact.MailingCountry}" size="30" styleClass="FormDataA"/>
                                            </apex:pageBlockSectionItem>
                                        </apex:pageBlockSection>
                                        <apex:pageBlockSection id="secContacthelp" title="How Can We Help You?" columns="1">                    
                                            <apex:pageBlockSectionItem >
                                                 <apex:inputTextarea id="glDescription" value="{!Contact.description}" rows="7" cols="90" />                        
                                            </apex:pageBlockSectionItem>            
                                        </apex:pageBlockSection>
                                    </apex:pageBlock>       
                                </apex:form>
                            </td>                            
                        </tr>
                    </table>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
</table>-->
</apex:page>