<apex:page >
<!-- Begin Default Content REMOVE THIS -->
    <br/><div>
        <table style="width:100%">
        <tr>
        <td><h1></h1></td>
        <td>
        <h1><a href="https://upright.lightning.force.com/c/FirstResponseConsole.app" target="_blank"><button type="button">Outbound</button></a></h1>
        </td>
        <td>
        <h1><a href="https://upright.lightning.force.com/c/InboundCallResponseApp.app" target="_blank"><button type="button">Inbound</button></a></h1>
        </td>
        <td><h1></h1></td>
        </tr>
        </table>
    </div>
<!-- End Default Content REMOVE THIS -->
</apex:page>