<apex:page >
  <h1>Partner Attorney Dashboard</h1>
  <br></br>
  <analytics:reportChart reportID="00Oo0000004H2fl"
   size="huge"></analytics:reportChart>
   <analytics:reportChart reportID="00Oo0000004H2qH"
   size="huge"></analytics:reportChart>
</apex:page>